/* nav */
.nav{
    background-color: whitesmoke;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    }
    .nav1{
    
        background-color:white;
        height: 5vh;
        width: 25%;
        margin:5px ;
        padding: 10px;
        
        
        }
        .nav2{
            margin:5px ;
            padding: 10px;
           
            background-color: white;
            height: 5vh;
            width: 40%;
            
            }
            
        .nav2 ul{
    list-style: none;
            display: flex;
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
        }    
            
            .nav2 li{
    
    padding: 10px;
    margin: 10px;
            }
            
    
            .nav3 ul{
                list-style: none;
                        display: flex;
                text-align: right;
                margin-top: -10px;
                font-size: 20px;
                justify-content: right;
    color: white;
            }    
                        
                        .nav3 li{
                color: black;
                padding: 10px;
                margin: 10px;
                        }
                    
            
            
            
            .nav3{
                margin:5px ;
                padding: 10px;
               
                background-color: white;
                height: 5vh;
                width: 28%;
                
                }
    
                                  /* image */

.image{

    background-color:white;
    height: 90vh;
    width: 100%;
background-image: url(image/f\ display.jpg);
    background-position: center;
    background-size: cover;
    
    /* padding: auto%; */
    /* margin: auto%; */
    }
    

/* size */

    .size{
        background-color: white;
        height: 10vh;
        width: 100%;
    display: flex;

    }

    .size1{
        background-color:whitesmoke;
        height: 10vh;
        width: 30%;
    display: flex;
margin-top: 1%;
    
    }

    .size2{
background-color:whitesmoke;
height: 7vh;
width: 70%;
padding: 10px;
margin-top: 1%;
margin: 10px;
text-align: center;
}
    .size2 select{
/* background-color: aqua; */
height: 3vh;
width: 10%;
padding: 10px;
margin: 10px;
text-align: center;
}


       /* shirts */
   .shirts{

    background-color: white;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
       }
    
       .shirts1{
    /* border-radius: 50px; */
        background-color:whitesmoke;
        height: 50vh;
        width: 25%;
        margin: 5px;
        /* padding: 20px; */
        /* border: 4px solid sandybrown; */
        transition: all 2s;
    
        background-image: url(image/f.png);
        background-position: auto;
        background-size: cover;
    }   
           .shirts2{
            margin: 5px;
        transition: all 2s;
        /* padding: 20px; */
        /* border-radius: 50px; */
            background-color:whitesmoke;
            height: 50vh;
            /* border: 4px solid sandybrown; */
            width: 25%;
            background-image: url(image/f2.png);
            background-position: auto;
            background-size: cover;
               }
               .shirts3{
                /* border-radius: 50px; */
        transition: all 2s;
        background-color:whitesmoke;
                height: 50vh;
                width: 25%;
                margin: 5px;
                /* padding: 20px; */
                /* border: 4px solid sandybrown; */
                background-image: url(image/f3\ \(1\).jpg);
                background-position: auto;
                background-size: cover;
                   }
                   .shirts4{
                    /* border-radius: 50px; */
                    background-color:whitesmoke;
                    height: 50vh;
                    width: 25%;
                    margin: 5px;
                    /* padding: 20px; */
        transition: all 2s;
        /* border: 4px solid sandybrown; */
        background-image: url(image/f3\ \(2\).jpg);
        background-position: auto;
        background-size: cover;
                       }
                       .shirts1:hover{
                           transform: scale(1.1);
        /* background-image: url(image/t3.png);  */
        border: 4px solid whitesmoke;

                           border: 4px solid sandybrown;
                           /* background-color: wheat; */
                       }
    
                       .shirts2:hover{
                        border: 4px solid sandybrown;
                        transform: scale(1.1);
                        /* background-image: url(image/t2.png); */
                        border: 4px solid whitesmoke;
    
                    }
                    .shirts3:hover{
                        /* background-color: wheat; */
                        border: 4px solid sandybrown;
                        /* background-image: url(image/t.png); */
                        border: 4px solid whitesmoke;
    
                        transform: scale(1.1);
                    }
                    .shirts4:hover{
                        /* background-image: url(image/t1.png); */
    
                        border: 4px solid whitesmoke;
                        /* background-color: wheat; */
                        transform: scale(1.1);
                    }
    
    
    
    
    
                    .shirt{

                        background-color: white;
                        height: 60vh;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                           }
                        
                           .shirt1{
                        /* border-radius: 50px; */
                            background-color:whitesmoke;
                            height: 50vh;
                            width: 25%;
                            margin: 5px;
                            /* padding: 20px; */
                            /* border: 4px solid sandybrown; */
                            transition: all 2s;
                        
                            background-image: url(image/f3\ \(3\).jpg);
                            background-position: auto;
                            background-size: cover;
margin-top: 2%;
                        }   
                               .shirt2{
                                margin: 5px;
                            transition: all 2s;
                            /* padding: 20px; */
                            /* border-radius: 50px; */
                                background-color:whitesmoke;
                                height: 50vh;
                                /* border: 4px solid sandybrown; */
                                width: 25%;
                                background-image: url(image/f3\ \(4\).jpg);
                                background-position: auto;
                                background-size: cover;
                                   }
                                   .shirt3{
                                    /* border-radius: 50px; */
                            transition: all 2s;
                            background-color:whitesmoke;
                                    height: 50vh;
                                    width: 25%;
                                    margin: 5px;
                                    /* padding: 20px; */
                                    /* border: 4px solid sandybrown; */
                                    background-image: url(image/f2.png);
                                    background-position: auto;
                                    background-size: cover;
                                       }
                                       .shirt4{
                                        /* border-radius: 50px; */
                                        background-color:whitesmoke;
                                        height: 50vh;
                                        width: 25%;
                                        margin: 5px;
                                        /* padding: 20px; */
                            transition: all 2s;
                            /* border: 4px solid sandybrown; */
                            background-image: url(image/f3\ \(4\).jpg);
                            background-position: auto;
                            background-size: cover;
                                           }
                                           .shirt1:hover{
                                               transform: scale(1.1);
                            /* background-image: url(image/t3.png); */
                            border: 4px solid whitesmoke;
                    
                                               /* border: 4px solid sandybrown; */
                                               /* background-color: wheat; */
                                           }
                        
                                           .shirt2:hover{
                                            /* border: 4px solid sandybrown; */
                                            transform: scale(1.1);
                                            /* background-image: url(image/t2.png); */
                                            border: 4px solid whitesmoke;
                        
                                        }
                                        .shirt3:hover{
                                            /* background-color: wheat; */
                                            /* border: 4px solid sandybrown; */
                                            /* background-image: url(image/f2.png); */
                                            border: 4px solid whitesmoke;
                        
                                            transform: scale(1.1);
                                        }
                                        .shirt4:hover{
                                            /* background-image: url(image/f.png); */
                        
                                            border: 4px solid whitesmoke;
                                            /* background-color: wheat; */
                                            transform: scale(1.1);
                                        }
                        
    


                                        .shir{

                                            background-color: white;
                                            height: 60vh;
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;
                                            margin-top: 10px;
                                               }
                                            
                                               .shir1{
                                            /* border-radius: 50px; */
                                                background-color:whitesmoke;
                                                height: 50vh;
                                                width: 25%;
                                                margin: 5px;
                                                /* padding: 20px; */
                                                /* border: 4px solid sandybrown; */
                                                transition: all 2s;
                                            
                                                background-image: url(image/15.png);
                                                background-position: auto;
                                                background-size: cover;
                    margin-top: 2%;
                                            }   
                                                   .shir2{
                                                    margin: 5px;
                                                transition: all 2s;
                                                /* padding: 20px; */
                                                /* border-radius: 50px; */
                                                    background-color:whitesmoke;
                                                    height: 50vh;
                                                    /* border: 4px solid sandybrown; */
                                                    width: 25%;
                                                    background-image: url(image/16.png);
                                                    background-position: auto;
                                                    background-size: cover;
                                                       }
                                                       .shir3{
                                                        /* border-radius: 50px; */
                                                transition: all 2s;
                                                background-color:whitesmoke;
                                                        height: 50vh;
                                                        width: 25%;
                                                        margin: 5px;
                                                        /* padding: 20px; */
                                                        /* border: 4px solid sandybrown; */
                                                        background-image: url(image/17.png);
                                                        background-position: auto;
                                                        background-size: cover;
                                                           }
                                                           .shir4{
                                                            /* border-radius: 50px; */
                                                            background-color:whitesmoke;
                                                            height: 50vh;
                                                            width: 25%;
                                                            margin: 5px;
                                                            /* padding: 20px; */
                                                transition: all 2s;
                                                /* border: 4px solid sandybrown; */
                                                background-image: url(image/18.png);
                                                background-position: auto;
                                                background-size: cover;
                                                               }
                                                               .shir1:hover{
                                                                   transform: scale(1.1);
                                                /* background-image: url(image/t3.png); */
                                                border: 4px solid whitesmoke;
                                        
                                                                   border: 4px solid sandybrown;
                                                                   /* background-color: wheat; */
                                                               }
                                            
                                                               .shir2:hover{
                                                                border: 4px solid sandybrown;
                                                                transform: scale(1.1);
                                                                /* background-image: url(image/t2.png); */
                                                                border: 4px solid whitesmoke;
                                            
                                                            }
                                                            .shir3:hover{
                                                                /* background-color: wheat; */
                                                                border: 4px solid sandybrown;
                                                                /* background-image: url(image/f2.png); */
                                                                border: 4px solid whitesmoke;
                                            
                                                                transform: scale(1.1);
                                                            }
                                                            .shir4:hover{
                                                                /* background-image: url(image/f.png); */
                                            
                                                                border: 4px solid whitesmoke;
                                                                /* background-color: wheat; */
                                                                transform: scale(1.1);
                                                            }
                    


                                                            .shi{

                                                                background-color: white;
                                                                height: 60vh;
                                                                width: 100%;
                                                                display: flex;
                                                                justify-content: center;
                                                                margin-top: 10px;
                                                                   }
                                                                
                                                                   .shi1{
                                                                /* border-radius: 50px; */
                                                                    background-color:whitesmoke;
                                                                    height: 50vh;
                                                                    width: 25%;
                                                                    margin: 5px;
                                                                    /* padding: 20px; */
                                                                    /* border: 4px solid sandybrown; */
                                                                    transition: all 2s;
                                                                
                                                                    background-image: url(image/11.png);
                                                                    background-position: auto;
                                                                    background-size: cover;
                                        margin-top: 2%;
                                                                }   
                                                                       .shi2{
                                                                        margin: 5px;
                                                                    transition: all 2s;
                                                                    /* padding: 20px; */
                                                                    /* border-radius: 50px; */
                                                                        background-color:whitesmoke;
                                                                        height: 50vh;
                                                                        /* border: 4px solid sandybrown; */
                                                                        width: 25%;
                                                                        background-image: url(image/12.png);
                                                                        background-position: auto;
                                                                        background-size: cover;
                                                                           }
                                                                           .shi3{
                                                                            /* border-radius: 50px; */
                                                                    transition: all 2s;
                                                                    background-color:whitesmoke;
                                                                            height: 50vh;
                                                                            width: 25%;
                                                                            margin: 5px;
                                                                            /* padding: 20px; */
                                                                            /* border: 4px solid sandybrown; */
                                                                            background-image: url(image/13.png);
                                                                            background-position: auto;
                                                                            background-size: cover;
                                                                               }
                                                                               .shi4{
                                                                                /* border-radius: 50px; */
                                                                                background-color:whitesmoke;
                                                                                height: 50vh;
                                                                                width: 25%;
                                                                                margin: 5px;
                                                                                /* padding: 20px; */
                                                                    transition: all 2s;
                                                                    /* border: 4px solid sandybrown; */
                                                                    background-image: url(image/14.png);
                                                                    background-position: auto;
                                                                    background-size: cover;
                                                                                   }
                                                                                   .shi1:hover{
                                                                                       transform: scale(1.1);
                                                                    /* background-image: url(image/t3.png); */
                                                                    border: 4px solid whitesmoke;
                                                            
                                                                                       border: 4px solid sandybrown;
                                                                                       /* background-color: wheat; */
                                                                                   }
                                                                
                                                                                   .shi2:hover{
                                                                                    border: 4px solid sandybrown;
                                                                                    transform: scale(1.1);
                                                                                    /* background-image: url(image/t2.png); */
                                                                                    border: 4px solid whitesmoke;
                                                                
                                                                                }
                                                                                .shi3:hover{
                                                                                    /* background-color: wheat; */
                                                                                    border: 4px solid sandybrown;
                                                                                    /* background-image: url(image/f2.png); */
                                                                                    border: 4px solid whitesmoke;
                                                                
                                                                                    transform: scale(1.1);
                                                                                }
                                                                                .shi4:hover{
                                                                                    /* background-image: url(image/f.png); */
                                                                
                                                                                    border: 4px solid whitesmoke;
                                                                                    /* background-color: wheat; */
                                                                                    transform: scale(1.1);
                                                                                }
                                        
                                                                                .sh{

                                                                                    background-color: white;
                                                                                    height: 60vh;
                                                                                    width: 100%;
                                                                                    display: flex;
                                                                                    justify-content: center;
                                                                                    margin-top: 10px;
                                                                                       }
                                                                                
                    
                                                                                .sh1{
                                                                                    /* border-radius: 50px; */
                                                                                        background-color:whitesmoke;
                                                                                        height: 50vh;
                                                                                        width: 25%;
                                                                                        margin: 5px;
                                                                                        /* padding: 20px; */
                                                                                        /* border: 4px solid sandybrown; */
                                                                                        transition: all 2s;
                                                                                    
                                                                                        background-image: url(image/t1.png);
                                                                                        background-position: auto;
                                                                                        background-size: cover;
                                                                                    }   
                                                                                           .sh2{
                                                                                            margin: 5px;
                                                                                        transition: all 2s;
                                                                                        /* padding: 20px; */
                                                                                        /* border-radius: 50px; */
                                                                                            background-color:whitesmoke;
                                                                                            height: 50vh;
                                                                                            /* border: 4px solid sandybrown; */
                                                                                            width: 25%;
                                                                                            background-image: url(image/t.png);
                                                                                            background-position: auto;
                                                                                            background-size: cover;
                                                                                               }
                                                                                               .sh3{
                                                                                                /* border-radius: 50px; */
                                                                                        transition: all 2s;
                                                                                        background-color:whitesmoke;
                                                                                                height: 50vh;
                                                                                                width: 25%;
                                                                                                margin: 5px;
                                                                                                /* padding: 20px; */
                                                                                                /* border: 4px solid sandybrown; */
                                                                                                background-image: url(image/t2.png);
                                                                                                background-position: auto;
                                                                                                background-size: cover;
                                                                                                   }
                                                                                                   .sh4{
                                                                                                    /* border-radius: 50px; */
                                                                                                    background-color:whitesmoke;
                                                                                                    height: 50vh;
                                                                                                    width: 25%;
                                                                                                    margin: 5px;
                                                                                                    /* padding: 20px; */
                                                                                        transition: all 2s;
                                                                                        /* border: 4px solid sandybrown; */
                                                                                        background-image: url(image/t3.png);
                                                                                        background-position: auto;
                                                                                        background-size: cover;
                                                                                                       }
                                                                                                       .sh1:hover{
                                                                                                           transform: scale(1.1);
                                                                                        /* background-image: url(image/t3.png); */
                                                                                        border: 4px solid whitesmoke;
                                                                                
                                                                                                           border: 4px solid sandybrown;
                                                                                                           /* background-color: wheat; */
                                                                                                       }
                                                                                    
                                                                                                       .sh2:hover{
                                                                                                        border: 4px solid sandybrown;
                                                                                                        transform: scale(1.1);
                                                                                                        /* background-image: url(image/t2.png); */
                                                                                                        border: 4px solid whitesmoke;
                                                                                    
                                                                                                    }
                                                                                                    .sh3:hover{
                                                                                                        /* background-color: wheat; */
                                                                                                        border: 4px solid sandybrown;
                                                                                                        /* background-image: url(image/t.png); */
                                                                                                        border: 4px solid whitesmoke;
                                                                                    
                                                                                                        transform: scale(1.1);
                                                                                                    }
                                                                                                    .sh4:hover{
                                                                                                        /* background-image: url(image/t1.png); */
                                                                                    
                                                                                                        border: 4px solid whitesmoke;
                                                                                                        /* background-color: wheat; */
                                                                                                        transform: scale(1.1);
                                                                                                    }
                                                                                    
                                                                                    
                                                                                                    .s{

                                                                                                        background-color: white;
                                                                                                        height: 60vh;
                                                                                                        width: 100%;
                                                                                                        display: flex;
                                                                                                        justify-content: center;
                                                                                                        margin-top: 10px;
                                                                                                           }
                                                                                                    
                                        
                                                                                                    .s1{
                                                                                                        /* border-radius: 50px; */
                                                                                                            background-color:whitesmoke;
                                                                                                            height: 50vh;
                                                                                                            width: 25%;
                                                                                                            margin: 5px;
                                                                                                            /* padding: 20px; */
                                                                                                            /* border: 4px solid sandybrown; */
                                                                                                            transition: all 2s;
                                                                                                        
                                                                                                            background-image: url(image/11.png);
                                                                                                            background-position: auto;
                                                                                                            background-size: cover;
                                                                                                        }   
                                                                                                               .s2{
                                                                                                                margin: 5px;
                                                                                                            transition: all 2s;
                                                                                                            /* padding: 20px; */
                                                                                                            /* border-radius: 50px; */
                                                                                                                background-color:whitesmoke;
                                                                                                                height: 50vh;
                                                                                                                /* border: 4px solid sandybrown; */
                                                                                                                width: 25%;
                                                                                                                background-image: url(image/t5\ \(4\).png);
                                                                                                                background-position: auto;
                                                                                                                background-size: cover;
                                                                                                                   }
                                                                                                                   .s3{
                                                                                                                    /* border-radius: 50px; */
                                                                                                            transition: all 2s;
                                                                                                            background-color:whitesmoke;
                                                                                                                    height: 50vh;
                                                                                                                    width: 25%;
                                                                                                                    margin: 5px;
                                                                                                                    /* padding: 20px; */
                                                                                                                    /* border: 4px solid sandybrown; */
                                                                                                                    background-image: url(image/f2.png);
                                                                                                                    background-position: auto;
                                                                                                                    background-size: cover;
                                                                                                                       }
                                                                                                                       .s4{
                                                                                                                        /* border-radius: 50px; */
                                                                                                                        background-color:whitesmoke;
                                                                                                                        height: 50vh;
                                                                                                                        width: 25%;
                                                                                                                        margin: 5px;
                                                                                                                        /* padding: 20px; */
                                                                                                            transition: all 2s;
                                                                                                            /* border: 4px solid sandybrown; */
                                                                                                            background-image: url(image/15.png);
                                                                                                            background-position: auto;
                                                                                                            background-size: cover;
                                                                                                                           }
                                                                                                                           .s1:hover{
                                                                                                                               transform: scale(1.1);
                                                                                                            /* background-image: url(image/t3.png); */
                                                                                                            border: 4px solid whitesmoke;
                                                                                                    
                                                                                                                               border: 4px solid sandybrown;
                                                                                                                               /* background-color: wheat; */
                                                                                                                           }
                                                                                                        
                                                                                                                           .s2:hover{
                                                                                                                            border: 4px solid sandybrown;
                                                                                                                            transform: scale(1.1);
                                                                                                                            /* background-image: url(image/t2.png); */
                                                                                                                            border: 4px solid whitesmoke;
                                                                                                        
                                                                                                                        }
                                                                                                                        .s3:hover{
                                                                                                                            /* background-color: wheat; */
                                                                                                                            border: 4px solid sandybrown;
                                                                                                                            /* background-image: url(image/t.png); */
                                                                                                                            border: 4px solid whitesmoke;
                                                                                                        
                                                                                                                            transform: scale(1.1);
                                                                                                                        }
                                                                                                                        .s4:hover{
                                                                                                                            /* background-image: url(image/t1.png); */
                                                                                                                            transform: scale(1.1);
                                                                                                        
                                                                                                                            border: 4px solid whitesmoke;
                                                                                                                            /* background-color: wheat; */}
                               
                                            
                                        
                    /* oder oder */

                    .oder{


                        background-color: blue
                        ;
                        height: auto;
                        width: 100%;
                        margin-top: 50px;
                        display: flex;
                                        }
                        
                                        .oder1{
                        background-color: black;
                        height: 50vh;
                        width: 25%;
                        
                                        }
                        
                        
                                        .oder2{
                                            background-color:black;
                                            height: 50vh;
                                            width: 25%;
                                            
                                                            }     .oder3{
                                                                background-color: black;
                                                                height: 50vh;
                                                                width: 25%;
                                                                
                                                                                }     .oder4{
                                                                                    background-color: black;
                                                                                    height: 50vh;
                                                                                    width: 25%;
                                                                                    
                                                                                                    }
                        
                               .oder1 ul{
                        color: white;
                        text-align: center;
                        list-style: none;
                        margin-right: 60px;
                        font-size: 15px;
                        
                        }                                                                     
                                                                                                    
                                                                                                    
                               .oder1 li{
                        padding: 7px;
                        margin: 5px;
                        
                            }                                                                     
                                                                                                 
                            .oder2 ul{
                                color: white;
                                text-align: center;
                                list-style: none;
                                margin-right: 60px;
                                font-size: 15px;
                                
                                }                                                                     
                                                                                                            
                                                                                                            
                                       .oder2 li{
                                padding: 7px;
                                margin: 5px;
                                
                                    }                                                                     
                                                                                                         
                                    .oder3 ul{
                                        color: white;
                                        text-align: center;
                                        list-style: none;
                                        margin-right: 60px;
                                        font-size: 15px;
                                        
                                        }                                                                     
                                                                                                                    
                                                                                                                    
                                               .oder3 li{
                                        padding: 7px;
                                        margin: 5px;
                                        
                                            }         
                                            .oder4 ul{
                                                color: white;
                                                text-align: center;
                                                list-style: none;
                                                margin-right: 60px;
                                                font-size: 15px;
                                                display: flex;
                                                
                                                }                                                                     
                                                                                                                            
                                                                                                                            
                                                       .oder4 li{
                                                padding: 15px;
                                                margin: 10px;
                                                font-size: 20px;
                                                
                                                    }  
                                    